.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  h1 {
    font-size: 24px;
    padding-top: 30px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }
  
  .modiForm {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modification{
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    margin: 0 20px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .modification-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  button[type="submit"] {
    padding: 10px 30px;
    margin: 0 20px;
    border: 1px solid #00bc77;
    border-radius: 5px;
    background-color: #fff;
    color: #00bc77;
    cursor: pointer;
  }
  